*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}
body{
  background-color: #010305;
  color: white;
}
header{
    position: fixed;
    z-index: 1000;
    top: -1%;
    background-color: #010305;
    width: 100vw;
    box-shadow: rgba(255, 255, 255, 0.43) 0 0 3px;
}
#mediahead{
    display: none;
}
#headul.active{
    display:block;
}
nav{
    display: flex;
    align-items: center;
}
nav img{
    width: 10vw;
    height: 7vh;
    margin-right: 25vw;
    margin-left: 4vw;
}
#headul ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    list-style: none;
}

#about{
    color: blue;
}
#project{
    color: blue;
}
#contact{
    color: blue;
}
 #headul li a:hover {
  background-color: #892be270;
  color: white;
  border-radius: 5px;
}
 #headul a{
    color: white;
    text-decoration: none;
     padding: 10px 16px 18px 10px;
     font-weight: 600;
}
#home{
    color: #892be270;
}
.sec1{
    color: white;
    margin-top: 5vw;
}
.art1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;

}
.art1 img{
    width: 50vw;
    height: 60vh;
    animation: imga 2s infinite ease alternate-reverse;
}
@keyframes imga {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
#div1{
    width: 30vw;
    height: 60vh;
}
#div1 h4{
    color: blueviolet;
    margin-top: 7vh;
}
#div1 h2{
    font-size: 3.5rem;
}
#div1 h3{
     font-size: 3.5rem;
     color: blueviolet;
     margin-bottom: 2vh;
}
.art1 button{
    margin-top: 2vh;
    padding: 2vh;
    background-color: blueviolet;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    border: none;
}
/* .art1 button:hover {
  background-color:;
} */
.art1 button a{
    text-decoration: none;
    color: white;
}
#but1{
    margin-left: 1vw;
    background-color: black;
    box-shadow: white 0 0 2px;
}
.box{
    display: flex;
    align-items: center;
    width: 20vw;
    height: 10vh;
    box-shadow: #ffffff1a 1px 0 0 ;
    padding-left: 1vw;
}
#div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 10vh;
     box-shadow: rgba(255, 255, 255, 0.418) 0 0 2px;
     width: 95vw;
     height: 15vh;
     margin-left: 2vw;
     border-radius: 10px;
}
.icon{
    font-size: 3rem;
    color: blueviolet;
}
#box5 {
  animation: bounce 3s infinite ease alternate-reverse;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
#box6 {
  animation: box6 2.5s infinite ease alternate-reverse;
}
@keyframes box6 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
#box7 {
  animation: box7 3.1s infinite ease alternate-reverse;
}
@keyframes box7 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.box h3{
    font-size: 2rem;
}
.sec2 h3{
    color: blueviolet;
    margin-bottom: 1vw;
}
.sec2 h2{
    margin-bottom: 0.6vw;
}
#div0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
}
#div0 a{
    color: white;
    text-decoration: none;
}
.box1{
    width: 30vw;
    height: 45vh;
    box-shadow: blueviolet 0 0 3px;
    border-radius: 10px;
    
}
.div{
    text-align: center;
    margin-top: 5vw;
    padding: 2vw;
}
.box1 img{
    width: 30vw;
    height: 30vh;
    border-top-right-radius: 10px ;
    border-top-left-radius:10px ;
}
.box1 button{
    background-color: #010305;
    box-shadow: blueviolet 0 0 5px;
    border: blueviolet solid;
    padding: 0.5vw 1vw;
    border-radius: 6px;
    margin-left: 1vw;

}
#box1 {
  animation: pulse 3s infinite ease alternate-reverse;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
#box2 {
  animation: box2 2.6s infinite ease alternate-reverse;
}
@keyframes box2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}
#box3 {
  animation: box3 3.3s infinite ease alternate-reverse;
}
@keyframes box3 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}
.box1 p{
    padding: 0.8vw 1vw;
}
#but4{
    background-color: black;
    box-shadow: blueviolet 0 0 5px;
    color: white;
    border: rgba(137, 43, 226, 0.433) solid;
    padding: 0.6vw 2vw;
    margin-left: 43vw;
    margin-top: 5vw;
}
#but4  a{
    color: white;
    text-decoration: none;
}
.art2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    margin: 10vh;
}
.art2 img{
    width: 15vw;
    height: 15vh;
}
.art2 h3{
    color: blueviolet;
    margin-bottom: 2vh;
}
.art2 ul{
     list-style: none;
}
.art2 li{
    padding-bottom: 10px;
}
.art2 p{
    padding: 10px 0px;
}
.art2 a{
    color: white;
}
.icon3{
    font-size: 1.5rem;
    box-shadow: white 0 0 2px;
    margin: 5px;

}
.icon4{
    font-size: 1.3rem;
    margin-right: 7px;
    
}
.art2 button{
    background-color: black;
    color: white;
    box-shadow: blueviolet 0 0 5px;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 10px;
    border: solid blueviolet;
    
}
.art2 button a{
    text-decoration: none;
    color: white;
}
.sec3 hr{
    background-color: rgba(137, 43, 226, 0.334);
    margin-top: 10vh;
    height: 2px;
    border: blueviolet;
}
#div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50vw;
    margin-bottom: 2vh;
}
#div3 i{
    color: blueviolet;
}
#hr1{
    background-color: rgba(255, 255, 255, 0.233);
    height: 2px;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 2vh;
}
#sec4{
    display: flex;
    justify-content: center;
    gap: 4vw;
     margin-top: 5vw;
}
#div4 img{
     width: 40vw;
     height: 97vh;
     border-radius: 10px;
}
#art3{
    display: flex;
    gap: 1vw
}
#art3 img{
    width: 4vw;
    height: 10vh;
}
#art3 p{
    font-size: 0.6rem;
    padding: 0;
}
#art3 div{
    width: 7vw;
    height: 18vh;
    text-align: center;
    background-color: rgba(137, 43, 226, 0.203);
    padding-top: 2%;
    border-radius: 7px;
    margin-top: 1vw;
    box-shadow: white 0 0 2px;
}
#div5{
    width: 40vw;
    height: 92vh;
}
#div5 h2{
    font-size: 2.03rem;
    padding: 1vw 0 0 0;
}
#div5 i{
    color: blueviolet;
    
}
#div5 p{
    padding: 0.8vw 0;
}
#div5 h4{
    padding-top: 1vw;
    font-size: 1.2rem;
}
#but3{
    padding: 0.7vw 3vw;
    margin-top: 1vw;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
}
#but3 a{
    text-decoration: none;
    color: white;
}
#but2{
    padding: 0.5vw 1vw ;
    background-color: blueviolet;
    color: white;
    border: none;
}
#but2 a{
    text-decoration: none;
    color: white;
}
.box2{
    width: 30vw;
    height: 45vh;
    box-shadow: blueviolet 0 0 3px;
    border-radius: 10px;
}
    
.box2 img{
    width: 30vw;
    height: 30vh;
    border-top-right-radius: 10px ;
    border-top-left-radius:10px ;
}
.box2 button{
    background-color: #010305;
    box-shadow: blueviolet 0 0 5px;
    border: blueviolet solid;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    margin-left: 1vw;

}
.box2 p{
    padding: 0.8vw 1vw;
}
.art4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 2vw;
}
.art4  a{
    color: white;
    text-decoration: none;
}
#div6{
    text-align: center;
     margin-top: 5vw;
}
#div6 h4{
    color: blueviolet;
    padding-bottom: 0.6vw;
}
#div6 i{
    color: blueviolet;
    font-style: normal;
}
#div6 h2{
    font-size: 2.3rem;
    padding-bottom: 0.3vw;
}
#div6 p{
    padding-bottom: 0.2vw;
}
#div7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26vw;
    box-shadow: blueviolet 0 0 5px;
    width: 80vw;
    margin-left: 10vw;
    height: 15vh;
    background-color: rgba(137, 43, 226, 0);
}
#div8{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1vw;
}
.icon5{
    font-size: 2.5rem;
    box-shadow: blueviolet 0 0 3px;
    color: blueviolet;
    background-color: rgba(137, 43, 226, 0.238);
}
#div7 h3{
    font-size: 2rem;
}
#div7 button{
    background-color: blueviolet;
    color: white;
    padding: 0.7vw 1.5vw;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
}
#div7 button a{
    text-decoration: none;
    color: white;
}
/* .sec5 article{
   display: flex;
   justify-content: center;
}
#div10 img{
    width: 60vw;
    height: 50vh;
} */
 .sec5{
    background-image:linear-gradient(to left,rgba(0, 0, 0, 0.432)), url(Images/message.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
 }
 #div9{
    width: 40vw;
    padding-top: 20vh;
    padding-left: 5vw;
 }
 #div9 h4{
    color: blueviolet;
    padding-bottom: 1vw;
    font-size: 2rem;
 }
 #div9 h2{
    font-size: 3rem;
    padding-bottom: 0.5vw;
 }
 #div9 i{
    color: blueviolet;
    font-style: normal;
    
 }
 #div9 p{
      padding-bottom: 1vw;
 }
 .sec6 article{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vw;
 }
 .sec6 article h4{
    color: blueviolet;
 }
 #div11{
    width: 20vw;
    height: 55vh;
    box-shadow: blueviolet 0 0 5px;
    border-radius: 10px;
    padding: 2vw;

 }
 #div11 a{
    color: white;
 }
 #div11 h4{
    padding: 1vw 0;
 }
 .icon6{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 0.7vw 0vw;
 }
 .bx-border{
    box-shadow: blueviolet 0 0 3px;
    color: blueviolet;
    font-size: 1.5rem;
 }
 .bx-border-circle{
      box-shadow: blueviolet 0 0 3px;
    font-size: 1.8rem;
    margin-left: 0.2vw;
 }
 #div12{
    width: 30vw;
    height: 55vh;
    box-shadow: blueviolet 0 0 5px;
    border-radius: 10px;
    padding: 2vw;
 }
 #div12 h4{
    padding: 1vw 0;
 }
 #div12 input{
    width: 12vw;
    height: 6vh;
     box-shadow: rgba(255, 255, 255, 0.605) 0 0 2px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    padding-left: 1vw;
 }
 textarea{
    width: 24.5vw;
    height: 20vh;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-top: 2vw;
    padding: 1vw;
    font-size: 1rem;
 }
 #div12 button{
    margin-top: 1vw;
    padding: 1vw 9vw;
    background-color: blueviolet;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
 }

 @media (max-width:1000px){
    .sec1{
        margin-top: 7vw;
    }
    #div1 h2{
        font-size: 2.5rem;
    }
    #div2{
        margin-top: 20vh;
    }
    #sec4{
        margin-top: 7vw;
    }
    #div5{
        width: 53vw;
    }
    #div6{
        margin-top: 7vw;
    }
    #div7{
        width: 90vw;
        margin-left: 5vw;
    }
    #div7 h3{
       font-size: 1.5rem;
    }
    .bx-border-circle{
        font-size: 1.5rem;
    }
    .bx-border{
        font-size: 1.2rem;
    }
    #div11{
        width: 25vw;
    }
    #div12{
        width: 35vw;
    }
    .icon6{
        margin: 1vw 0;
    }
    #div12 input{
        width: 15vw;
    }
    textarea{
        width: 30vw;
        margin: 2vw 0;
    }
    #div12 button{
        padding: 0.9vw 9.5vw;
    }


 }

@media (max-width:768px){

    /* Hide Desktop Navbar */
    header{
        display:none;
    }

    /* Show Mobile Navbar */
    #mediahead{
        display:block;
    }

    #mediahead nav{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

    position: fixed;
    z-index: 1000;
    width: 100%;
    top: -1%;

    background: #010305;
}

    #mediahead img{
        width:130px;
    }

    /* Hamburger */

    .hamburger{
        display:flex;
        flex-direction:column;
        gap:6px;
        cursor:pointer;
        z-index:1001;
    }

    .hamburger span{
        width:35px;
        height:4px;
        background:#fff;
        border-radius:5px;
        transition:.3s;
    }

    /* Mobile Menu */

 #mobile-menu{
    position: fixed;
    top: 80px;
    left: 0;

    /* width: 70%; */

    display: none;

    padding: 10px 0;
    background-color: #010305;

    box-shadow: 0 8px 20px rgba(0,0,0,.4);
    z-index: 1000;
}

#mobile-menu.active{
    display: block;
}
#mobile-menu ul{
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 18px;

    padding: 0 10px;
}
#mobile-menu li{
    width: 110px;
}
#mobile-menu a{

    display: block;

    background: blueviolet;

    color: white;

    text-decoration: none;

    text-align: center;

    padding: 13px;

    border-radius: 10px;

    font-size: 16px;

    font-weight: 400;

    transition: .3s;
}
#mobile-menu a:hover{
    color: #0A84FF;
    padding-left: 10px;
}
    .hamburger.active span:nth-child(1){
    transform:rotate(45deg) translate(7px,7px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}

.hamburger.active span:nth-child(3){
    transform:rotate(-45deg) translate(7px,-7px);
}
#div1 h2{
    font-size: 2.1rem;
}
#div1 h3{
    font-size: 2.1rem;
}
#div1 h4{
    font-size: 1rem;
}
.box{
    width: 25vw;
    padding-left: 0%;
}
.box h3{
    font-size: 1.5rem;
}
.icon{
    font-size: 2.5rem;
}
.box1{
    height: 50vh;
}
#div0{
    margin-top: 2vw;
}
#sec4{
    margin-top: 14vw;
}
#div4 img{
    height: 100vh;
}
#div5{
    width: 50vw;
}
#div5 h2{
    font-size: 1.7rem;
}
#art3 div{
    width: 10vw;
    height: 16vh;
}
#art3 p{
    font-size: 0.5rem;
}
#div6{
    margin-top: 15vw;
}
.art4{
    gap: 1.2vw;
    margin-top: 2.2vw;
    margin-bottom: 5vw;
}
.box2{
    height: 50vh;
}
#div7{
    width: 90vw;
    gap: 17vw;
    margin-left: 5vw;
}
#div7 h3{
    font-size: 1.3rem;
}
#div9{
   width: 90vw;
}
.icon5{
    font-size: 2.5rem;
}
#div11{
    width: 27vw;
}
#div12{
    width: 40vw;
}
#div12 input{
    width: 17vw;
}
textarea{
    width: 35vw;
    margin: 3vw 0;
    
}
.icon6{
    margin: 2vw 0;
}
}

@media (max-width:723px){
     #mediahead nav{
        padding:15px;
        width: 100%;
    }

    #mediahead img{
        width:100px;
    }

    .hamburger span{
        width:30px;
        height:3px;
    }

    #mobile-menu ul{
        gap:10px;
        padding:15px 0;
    }

    #mobile-menu a{
        font-size:14px;
    }
    .sec1{
        margin-top: 13vw;
    }
    .art1{
        flex-direction: column;
        gap: 2vw;
    }
    #div1{
        width: 80vw;
    }
    .art1 img{
        width: 80vw;
    }
    #div2{
       display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
        height: 30vh;
        width: 85vw;
        margin: 7vw;
    }
    .box{
        width: 30vw;
    }
    #div0{
        flex-direction: column;
        gap: 4vw;
    }
    .box1{
        width: 80vw;
        height: 43vh;
    }
    .box1 img{
        width: 80vw;
    }
    #but4{
        margin-left: 30vw;
    }
    .art2{
        flex-direction: column;
        align-items: start;
        gap: 5vw;
        margin: 5vh;
    
    }
    .art2 img{
        width: 90vw;
        height: 20vh;
    }
   .icon4{
    text-align: left;
   }
  #div3{
    gap: 15vw;
    margin-left: 3vw;
  } 
   #sec4{
    margin-top: 30vw;
    margin-bottom: 60vw;
    flex-direction: column;
  }
  #div4 img{
    width: 90vw;
    margin: 0 5vw;
    height: 65vh;
  }
  #div5{
    width: 90vw;
    margin: 0 5vw;
  }
  #art3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10vw;
  }
  #art3 div{
    width: 30vw;
    height: 18vh;
  }
  #art3 img{
    width: 23vw;
    height: 12vh;
    margin-top: 1vw;
  }
  #but3{
    margin-top: 0;
  }
  .art4{
    flex-direction: column;
    gap: 5vw;
  }
  .box2{
    width: 90vw;
    height: 45vh;
    margin: 0 5vw;
  }
  .box2 img{
    width: 90vw;
  }
  #div6{
    margin-top: 30vw;
  }
   #div7{
    flex-direction: column;
    gap: 0.5vw;
    width: 90vw;
    height: 20vh;
    margin-left: 5vw;
  }
  #div7 h3{
    font-size: 1rem;
  }
  #div7 p{
    font-size: 0.8rem;
  }
  #div9{
    width: 90vw;
  }
  .sec6 article{
    flex-direction: column-reverse;
    margin: 0 10vw;
  }
  #div11{
    width: 80vw;
    padding: 10vw;
    height: 60vh;
    
  }
  #div12{
    width: 80vw;
    padding: 2vw;
  }
  #div12 input{
    width: 37vw;
  }
  textarea{
    width: 75vw;
    margin: 5vw 0;
  }
  #div12 button{
    padding: 4vw 28vw;
  }
  .icon6{
    margin-bottom: 5vw;
  }
  #div12 h4{
    padding: 2vw;
  }

}

 @media (max-width:400px){

    #mediahead nav{
        padding:15px;
        width: 100%;
    }

    #mediahead img{
        width:100px;
    }

    .hamburger span{
        width:30px;
        height:3px;
    }

    #mobile-menu ul{
        gap:10px;
        padding:15px 0;
    }

    #mobile-menu a{
        font-size:14px;
    }
    .sec1{
        margin-top: 13vw;
    }
    .art1{
        flex-direction: column;
        gap: 2vw;
    }
    #div1{
        width: 90vw;
    }
    .art1 img{
        width: 90vw;
    }
    #div2{
       display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
        height: 30vh;
    }
    .box{
        width: 33vw;
    }
    #div0{
        flex-direction: column;
        gap: 4vw;
    }
    .box1{
        width: 90vw;
        height: 43vh;
    }
    .box1 img{
        width: 90vw;
    }
    #but4{
        margin-left: 30vw;
    }
    
    .art2{
        flex-direction: column;
        align-items: start;
        gap: 5vw;
        margin: 5vh;
    
    }
    .art2 img{
        width: 90vw;
        height: 20vh;
    }
   .icon4{
    text-align: left;
   }
  #div3{
    gap: 15vw;
    margin-left: 3vw;
  } 
  #sec4{
    margin-top: 30vw;
    margin-bottom: 60vw;
    flex-direction: column;
  }
  #div4 img{
    width: 90vw;
    margin: 0 5vw;
    height: 70vh;
  }
  #div5{
    width: 90vw;
    margin: 0 5vw;
    height: 110vh;
  }
  #div5 h2{
    margin-bottom: 3vw;
  }
  #div5 h4{
    margin: 3vw 0;
  }
  #art3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3vw;
  }
  #art3 div{
    width: 30vw;
    height: 18vh;
  }
  #art3 img{
    width: 23vw;
    height: 12vh;
    margin-top: 1vw;
  }
 
  .art4{
    flex-direction: column;
    gap: 5vw;
  }
  .box2{
    width: 90vw;
    height: 45vh;
    margin: 0 5vw;
  }
  .box2 button{
    margin-top: 1vw;
  }
  .box2 img{
    width: 90vw;
  }
  #div6{
    margin-top: 30vw;
  }

  #div7{
    flex-direction: column;
    gap: 0.5vw;
    width: 90vw;
    height: 20vh;
    margin-left: 5vw;
       margin-top: 20vw;
  }
  #div7 h3{
    font-size: 1rem;
  }
  .icon5{
    font-size: 1.6rem;
  }
  #div7 p{
    font-size: 0.8rem;
  }
  #div7 button{
    margin-top: 1.4rem;
  }
  #div9{
    width: 90vw;
  }
  .sec6 article{
    flex-direction: column-reverse;
    margin: 0 10vw;
  }
  #div11{
    width: 80vw;
    padding: 10vw;
    
  }
  #div12{
    width: 80vw;
    padding: 2vw;
  }
  #div12 input{
    width: 37vw;
  }
  textarea{
    width: 75vw;
    margin: 5vw 0;
  }
  #div12 button{
    padding: 4vw 24vw;
  }

  .icon6{
    margin-bottom: 5vw;
  }
}

